.main__wrap {
  display: flex;
  justify-content: space-between;
}
.card {
  width: 350px;
}

.card__img {
  width: 70px;
  height: 70px;
  margin: 0 auto 30px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #e72424;
}
.card__img img {
  width: 100%;
  height: 100%;
  object-fit: none;
  object-position: center;
}
.card__title {
  text-align: center;
  margin-bottom: 16px;
  color: #333333;
  font-size: 20px;
  text-transform: capitalize;
}
.card__text p {
  color: #000000;
  text-align: center;
  font-size: 14px;
  width: 350px;
  margin: auto;
}
span {
  text-transform: lowercase;
}
