@import url(../css/awsome.css);
@import url(../css/pricing.css);
@import url(../css/style.css);
@import url(../css/reviews.css);
@import url(../css/axure.css);
* {
  padding: 0;
  text-decoration: none;
  list-style: none;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Open Sans", "Raleway";
}
.container {
  margin: auto;
  max-width: 1170px;
  padding: 0 15px;
  position: relative;
  z-index: 5;
}
.title {
  /* margin: 0 auto 34px; */
  text-align: center;
  text-transform: uppercase;
  color: #212121;
  font-family: "Raleway";
  font-size: 36px;
  font-weight: 400;
}
.title::after {
  content: "";
  width: 64px;
  height: 2px;
  background-color: #e72424;
  display: block;
  margin: 34px auto 36px;
}
.text {
  text-align: center;
  color: #86878b;
  font-size: 14px;
  font-weight: 400;
  margin: 0 auto 68px;
}
