.reviews {
  padding: 80px 0;
}
.wrap__reviews {
  /* display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 -15px; */
}
.reviews__card {
  width: 298px;
}
.text__reviews p {
  background-color: #e2e2e2;
  width: 298px;
}
.title__reviews {
}
.card__img {
}
